@tailwind base;

@tailwind components;
.navbar-brand {
 
  padding: 10px;
}

.navbar-brand img {
  max-height: 50px; 
}

@tailwind utilities;
#mapContainer {
    width: 100vw;
    height: 100vh;
  }

